Repository isogeo/isogeo-api-py-minsdk, pull requests merged in 2019-12, with the labels that each got.

#137 Checker - Handle API responses without JSON
  isogeo_pysdk/api_hooks.py
  isogeo_pysdk/checker.py
  isogeo_pysdk/isogeo.py
Labels: bug

#135 Housekeeping
  Pipfile.lock
Labels: enhancement

#139 Docs - Switch additional content from rst to markdown
  Pipfile
  Pipfile.lock
  docs/authentication.md
  docs/conf.py
  docs/index.rst
  docs/installation.md
  docs/installation.rst
  docs/requirements_docs.txt
  docs/usage.rst
  isogeo_pysdk/api/routes_contact.py
  isogeo_pysdk/api/routes_feature_attributes.py
  isogeo_pysdk/api/routes_keyword.py
Labels: documentation

#140 Formats - Add sample script to add versions to a format
  isogeo_pysdk/api/routes_format.py
  isogeo_pysdk/samples/current/add_format_version.py
Labels: documentation

#141 Metadata - Bulk requests
  .gitignore
  docs/conf.py
  docs/requirements_docs.txt
  isogeo_pysdk/api/__init__.py
  isogeo_pysdk/api/routes_catalog.py
  isogeo_pysdk/api/routes_metadata.py
  isogeo_pysdk/api/routes_metadata_bulk.py
  isogeo_pysdk/checker.py
  isogeo_pysdk/enums/__init__.py
  isogeo_pysdk/enums/bulk_actions.py
  isogeo_pysdk/enums/bulk_ignore_reasons.py
  isogeo_pysdk/enums/bulk_targets.py
  isogeo_pysdk/isogeo.py
  isogeo_pysdk/models/__init__.py
  isogeo_pysdk/models/bulk_report.py
  isogeo_pysdk/models/bulk_request.py
  isogeo_pysdk/type_hints_custom.py
  tests/test_bulks.py
  tests/test_catalogs.py
  tests/test_enums.py
Labels: feature

#146 Users - Complete API
  isogeo_pysdk/api/routes_user.py
  isogeo_pysdk/models/user.py
  tests/test_users.py
Labels: enhancement

#142 Doc - update samples and docs
  .readthedocs.yml
  docs/Makefile
  docs/make.bat
  docs/requirements_docs.txt
  docs/usage.md
  docs/usage.rst
  isogeo_pysdk/api/routes_contact.py
  isogeo_pysdk/api/routes_user.py
  isogeo_pysdk/samples/attributes_frequency.py
  isogeo_pysdk/samples/cleaning/clean_catalogs_empty.py
  isogeo_pysdk/samples/cleaning/clean_contacts_not_associated.py
  isogeo_pysdk/samples/cleaning/clean_specifications.py
  isogeo_pysdk/samples/download_batch_hosted_data.py
  isogeo_pysdk/samples/export_batch_xml19139_sync.py
  isogeo_pysdk/samples/latest_md_modified.py
  isogeo_pysdk/samples/related_links.py
  isogeo_pysdk/samples/results_parser.py
  isogeo_pysdk/samples/search.py
  isogeo_pysdk/samples/spatial_search.py
  isogeo_pysdk/samples/store_api_responses_read.py
  isogeo_pysdk/samples/store_api_responses_rw.py
  isogeo_pysdk/samples/udata_client_datagouvfr.py
  requirements.txt
  requirements_dev.txt
  tool_docs_build.ps1
Labels: documentation

#145 Metadata - Hash and compare
  isogeo_pysdk/api/routes_limitation.py
  isogeo_pysdk/api/routes_metadata_bulk.py
  isogeo_pysdk/models/metadata.py
Labels: feature

#148 Search - Improve async searches
  isogeo_pysdk/api/routes_application.py
  isogeo_pysdk/api/routes_search.py
  isogeo_pysdk/samples/attributes_frequency.py
  isogeo_pysdk/samples/related_links.py
  isogeo_pysdk/samples/spatial_search.py
  isogeo_pysdk/samples/store_api_responses_read.py
  tests/test_search.py
Labels: enhancement
