Repository isogeo/isogeo-api-py-minsdk, pull requests merged in 2020-04, with the labels that each got.

#159 Docs - Improve render
  docs/conf.py
  docs/index.rst
Labels: documentation

#156 Housekeeping
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  azure-pipelines.yml
  requirements.txt
  requirements_dev.txt
  setup.cfg
  tests/test_search.py
Labels: CI CD, code art, dependencies

#150 CI - Add Python 3.8
  azure-pipelines.yml
  setup.py
Labels: CI CD

#151 Checker - Make methods class methods when possible
  .vscode/settings.json
  isogeo_pysdk/checker.py
  isogeo_pysdk/samples/related_links.py
  isogeo_pysdk/utils.py
  requirements_dev.txt
  tests/test_search.py
  tests/test_utils.py
Labels: dependencies, documentation, enhancement

#161 Groups - Add missing hasScanFme attribute
  isogeo_pysdk/models/workgroup.py
  tests/test_workgroups.py
Labels: enhancement

#163 Metadata - Handle unexpected fields
  isogeo_pysdk/models/metadata.py
Labels: bug, enhancement

#164 Metadata Processor related
  .env.example
  .vscode/docstring-config.mustache
  .vscode/extensions.json
  .vscode/settings.json
  isogeo_pysdk/api/routes_event.py
  isogeo_pysdk/api/routes_metadata_bulk.py
  isogeo_pysdk/isogeo.py
  isogeo_pysdk/models/metadata.py
  isogeo_pysdk/models/metadata_search.py
  requirements.txt
  tests/dev/dev_perfs_search.py
  tests/test_authentication.py
  tests/test_limitations.py
  tests/test_links.py
  tests/test_metadatas.py
  tests/test_service_layers.py
  tests/test_service_operations.py
  tests/test_token.py
  tests/test_translator.py
Labels: code art, dependencies, enhancement, feature
